.book-author,
.book-topic {
  word-wrap: break-word; /* long words break */
  overflow-wrap: break-word;
  white-space: normal; 
  max-width: 100%; 
  text-align: left;
}

.book-title {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limit to three lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word; 
  text-overflow: clip; 
  text-align: left;
}


.book-card {
  position: relative;
  width: 100%;
  max-width: 220px;  
  min-width: 180px;
  height: 350px;      
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

/* Book image container */
.book-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.book-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Delete button overlay */
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
  z-index: 3;
}

.delete-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

/* Book info  below the image card */
.book-info {
  padding: 8px;
  text-align: left;
  max-width: 220px; /* Match the new card width */
  margin: 0 auto;
}

.download-options {
  margin-top: 2px;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: left;
  gap: 10px; /* Adjust gap as needed */
}


/* Grid container for liked books */
.liked-books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  padding: 5px;
}

/* Mobile  */
@media (max-width: 600px) {
  .liked-books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
